/* Header */
#header #search-bar { background: #1B6DAD }
#logo { text-indent: -9999px; }
#logo a {
	display: block;
	margin: .5em 0;
	background: url(images/logo.png) no-repeat;
	width: 598px;
	height: 105px;
}
h1#logo,
h1#logo a { max-width: none; }

/* Navigation */
#nav {
	float: none;
	margin: 0;
}
#nav li a {
	font-size: 130%;
	font-weight: normal;
}