img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Header */
#header #search-bar { background: #1B6DAD }
h1#logo { margin: 2% 0; }
#search-wrap { float: right; }
#search-form { margin-top: 0; }


/* Navigation */
#nav {
  float: none;
  margin: 0;
}
#nav li a {
  font-size: 130%;
  font-weight: normal;
}

/* Sidebar */
.tweets li {
  overflow: hidden;
  padding: 10px 0;
  font-size: 0.9em;
  line-height: 1.5em;
  border-top: 1px solid #ccc;
}
.tweets li:first-child {
  border-top: 0;
}
.tweets li .avatar {
  float: left;
  width: 25%;
  text-align: right;
}
.tweets li .msg,
.tweets li .info {
  float: right;
  width: 70%;
}

/* Footer */
ul.partners {
  max-width: 960px;
  overflow: hidden;
  width: auto;
  margin: 0 auto;
  padding: 30px 0;
}
ul.partners li {
  float: left;
  margin-left: 60px;
}
ul.partners li:first-child {
  margin-left: 0px;
}
ul.partners li a {
  text-indent: -9999px;
  display: block;
  background: url(images/sprite-logos.png) no-repeat;
  height: 51px;
}
ul.partners li.redhd a {
  width: 177px;
  background-position: 0 0;
}
ul.partners li.hdh a {
  width: 160px;
  background-position: 0 -50px;
}
ul.partners li.fcsh a {
  width: 305px;
  background-position: 0 -101px;
}
ul.partners li.usp a {
  width: 122px;
  background-position: 0 -152px;
}